@media(max-width:991px){

.hero-content{

flex-direction:column;

text-align:center;

}

.hero-image img{

width:320px;

}

.hero-text h1{

font-size:38px;

}

.hero-buttons{

justify-content:center;

}

}

@media(max-width:768px){

.nav-links{

display:none;

}

.menu-btn{

display:block;

}

.video-section{

padding:20px;

}

.history{

padding:30px;

}

}